In [1]:
import pandas as pd

In [2]:
income = pd.read_csv("Resources/income.csv")

income
age = pd.read_csv("Resources/age.csv")

In [3]:
clean_age_df = pd.DataFrame()
clean_age_df["City-State"] = age["Geography"]
clean_age_df["Total Population"] = age["Total; Estimate; Total population"]
clean_age_df["Millennial Population"] = age["Total; Estimate; AGE - 20 to 24 years"] + age["Total; Estimate; AGE - 25 to 29 years"] + age["Total; Estimate; AGE - 30 to 34 years"] + age["Total; Estimate; AGE - 30 to 34 years"] + age["Total; Estimate; AGE - 35 to 39 years"]
clean_age_df["Millennial Income"] = income["Median income (dollars); Estimate; HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER - 25 to 44 years"].map(
    "${:,.2f}".format)
clean_age_df

,City-State,Total Population,Millennial Population,Millennial Income
0,"Abilene, TX Metro Area",168774,36.9,"$53,963.00"
1,"Akron, OH Metro Area",703168,31.4,"$57,276.00"
2,"Albany, GA Metro Area",154830,32.6,"$37,589.00"
3,"Albany, OR Metro Area",119862,31.4,"$53,612.00"
4,"Albany-Schenectady-Troy, NY Metro Area",879291,32.5,"$68,171.00"
5,"Albuquerque, NM Metro Area",904486,34.3,"$50,756.00"
6,"Alexandria, LA Metro Area",154745,32.8,"$44,119.00"
7,"Allentown-Bethlehem-Easton, PA-NJ Metro Area",830737,29.9,"$66,996.00"
8,"Altoona, PA Metro Area",125917,29.1,"$54,733.00"
9,"Amarillo, TX Metro Area",260495,35.6,"$54,958.00"
10,"Ames, IA Metro Area",94834,45.1,"$61,572.00"
11,"Anchorage, AK Metro Area",398000,38.6,"$80,488.00"
12,"Ann Arbor, MI Metro Area",358082,39.7,"$65,218.00"
13,"Anniston-Oxford-Jacksonville, AL Metro Area",115883,32.2,"$43,360.00"
14,"Appleton, WI Metro Area",231452,31.9,"$68,361.00"
15,"Asheville, NC Metro Area",441724,29.9,"$49,040.00"
16,"Athens-Clarke County, GA Metro Area",200213,40.6,"$41,729.00"
17,"Atlanta-Sandy Springs-Roswell, GA Metro Area",5612777,34.8,"$60,290.00"
18,"Atlantic City-Hammonton, NJ Metro Area",274026,30.1,"$54,982.00"
19,"Auburn-Opelika, AL Metro Area",153947,41.6,"$49,841.00"
20,"Augusta-Richmond County, GA-SC Metro Area",584964,33.8,"$47,586.00"
21,"Austin-Round Rock, TX Metro Area",1942615,41.1,"$68,468.00"
22,"Bakersfield, CA Metro Area",871337,36.8,"$50,957.00"
23,"Baltimore-Columbia-Towson, MD Metro Area",2780873,34.3,"$78,920.00"
24,"Bangor, ME Metro Area",152978,31.2,"$53,424.00"
25,"Barnstable Town, MA Metro Area",214703,22.4,"$73,465.00"
26,"Baton Rouge, LA Metro Area",824667,36.8,"$61,702.00"
27,"Battle Creek, MI Metro Area",134691,30.0,"$50,423.00"
28,"Bay City, MI Metro Area",106107,29.4,"$53,898.00"
29,"Beaumont-Port Arthur, TX Metro Area",406506,33.7,"$52,336.00"
...,...,...,...,...
352,"Urban Honolulu, HI Metro Area",986999,36.6,"$76,231.00"
353,"Utica-Rome, NY Metro Area",296416,29.6,"$52,421.00"
354,"Valdosta, GA Metro Area",143950,38.7,"$40,818.00"
355,"Vallejo-Fairfield, CA Metro Area",429596,34.6,"$69,350.00"
356,"Victoria, TX Metro Area",98452,32.8,"$61,597.00"
357,"Vineland-Bridgeton, NJ Metro Area",155744,35.8,"$49,986.00"
358,"Virginia Beach-Norfolk-Newport News, VA-NC Met...",1714428,36.9,"$59,095.00"
359,"Visalia-Porterville, CA Metro Area",455769,34.5,"$44,920.00"
360,"Waco, TX Metro Area",260659,35.6,"$47,626.00"
361,"Walla Walla, WA Metro Area",63780,32.3,"$50,384.00"
362,"Warner Robins, GA Metro Area",187504,35.6,"$50,716.00"
363,"Washington-Arlington-Alexandria, DC-VA-MD-WV M...",6011752,36.9,"$93,587.00"
364,"Waterloo-Cedar Falls, IA Metro Area",169857,35.5,"$63,242.00"
365,"Watertown-Fort Drum, NY Metro Area",117966,40.7,"$53,241.00"
366,"Wausau, WI Metro Area",135367,29.8,"$62,273.00"
367,"Weirton-Steubenville, WV-OH Metro Area",121104,26.7,"$50,637.00"
368,"Wenatchee, WA Metro Area",114862,30.0,"$55,059.00"
369,"Wheeling, WV-OH Metro Area",144781,29.3,"$54,255.00"
370,"Wichita, KS Metro Area",640505,33.5,"$53,748.00"
371,"Wichita Falls, TX Metro Area",151265,35.6,"$52,432.00"
372,"Williamsport, PA Metro Area",116313,31.0,"$57,281.00"
373,"Wilmington, NC Metro Area",272788,34.3,"$54,074.00"
374,"Winchester, VA-WV Metro Area",133125,29.5,"$61,400.00"
375,"Winston-Salem, NC Metro Area",654589,29.8,"$47,478.00"
376,"Worcester, MA-CT Metro Area",930667,31.3,"$73,256.00"
377,"Yakima, WA Metro Area",247681,32.4,"$43,494.00"
378,"York-Hanover, PA Metro Area",440604,30.2,"$65,337.00"
379,"Youngstown-Warren-Boardman, OH-PA Metro Area",552521,28.0,"$46,880.00"
380,"Yuba City, CA Metro Area",169303,34.2,"$53,173.00"
381,"Yuma, AZ Metro Area",203292,33.2,"$47,479.00"